
table{
  float: left;
  font-size : 2vw;
  /*overflow: hidden;*/
  table-layout:fixed;
  border: 0;
  /*vertical-align:middle;*/
  color:#A02971;
}

th, td {
  font-size : 2vw;
  /*overflow: hidden;*/
  /*vertical-align:middle;*/
  padding-left: 15px;
  padding-right: 15px;
  border: 0;

}
.buses table td, .trains table td{
  padding-top: 20px;
  padding-bottom: 20px;
}
tbody tr:nth-child(even){
  background-color: #F5E9F0;
  border-color: #F5E9F0;
  border: 0;
  color:#A02971;

  background-color: #e8e8e8;
  border-color: #e8e8e8;
  border: 0;

  background-color: #e8e8e8;
  border-color: #e8e8e8;
  border: 0;
}

.time-tables-icon{
  display: flex;
  font-size : 2rem;
  /*overflow: hidden;*/
/*  margin-right: 23%*/
}
.time-tables-icon H1{
  position: relative;
  padding-left: 100px;
  font-size : 2rem;
}
.time-tables-icon img{
  margin-top: 10px;
 margin-bottom: 10px;
 float: left;
 margin-left: 10px;
}

.train-icon, .bus-icon{
    margin:0px;
    padding-left: 10px;
    flex: 1;
    background-color: #fff;
}
.time-tables{
  display: flex;
  font-size : 2vw;
  /*overflow: hidden;*/
  /*margin-right: 23%*/
  margin-right: 0px;
  margin-left: auto;
}
.buses{
      margin: 0px;
      padding-left: 10px;
      flex: 1;
      background-color: #fff;
}
.trains{
      margin: 0px;
      padding-left: 10px;
      flex: 1;
      background-color: #fff;

}
.trains table{


}
.buses table{


}
.destination-table {
    width: 60%;
text-align: center;
}

.train-time, .train-title-time, .bus-title-time {
      padding-left: 20px;
text-align: right;
}
.bus-title, .train-title{
  padding-right: 20px;
text-align: left;
}
.Numer-table{
  width: 5%;
}
table, tr, td, th {
     border: 0;
}
@font-face {
  font-family: 'icarubrik';
    src: url('ICARubrikWebBold.ttf');
}
.Adv{
  position: absolute;
bottom: 0px;
width: 100%;
background-color: #fff;
overflow-x: scroll;
color:#A02971;
}
::-webkit-scrollbar {
    display: none;
}
.content{
  float: left;
  max-height: 400px;
  background-color: #fff;
  width: 100%;
  padding: 0px, auto;

  color: #3F3F40;
  font-family: 'icatext','Arial',sans-serif;
  white-space: nowrap;
  overflow-x: scroll;



}
.slick-class{
  $('.autoplay').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
  });
}
.product-price__price-value {
    display: inline-block;

    font-size: 3rem;

    vertical-align: top;
        font-family: 'icarubrik' !important;

    ICARubrikWebBold.woff
    font-weight: 900;
    margin-top: -3px;
    position: relative;

}
.content a{
  opacity:0;
}
.slick-class{

  width: 100%;
}
.slick-class .focus-item {
        width: 150px !important;
float: left;
    max-width: 180px;
}

.focus-item .item-splash {

    margin: 0 auto;
}
.nara .store-offers-content .hit-item.focus-item .splash-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 40%;
    margin-left: -74px;
    width: 149px;
    height: 121px;
    background: url('https://www.ica.se/templates/BHSOffers/views/images/nara.svg');

}
[class*='icon-']:before {
    display: inline-block;
    font-family: 'Ica icons';
    font-style: normal;
    font-weight: normal;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.list-offers .product-price__price-value, .list-offers .product-price__decimal {
    display: inline-block;
    font-family: 'icarubrik';
    font-size: 4.5rem !important;
    vertical-align: top;
}
.nara .hit-item.focus-item .item-name>div, .nara .hit-item.focus-item .benefit-more-info {
    color: #fff;
    background: url('https://www.ica.se/templates/BHSOffers/views/images/nara.svg');
}
.hit-item .item-info {

    line-height: 28px;
    color: #6c6b69;
    margin: 0;
    white-space: nowrap;
    max-width: 250px;
    text-overflow: ellipsis;
}

.hit-item.focus-item .item-name>div {
width: 100%;
color: #fff;
text-align: center;

}
=======
width: 100%;
background-color: #fff;
overflow-x: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.content{
  float: left;
  max-height: 400px;
  background-color: #fff;
  width: 100%;
  padding: 0px, auto;
  color: #3F3F40;
  font-family: 'icatext','Arial',sans-serif;
  white-space: nowrap;
  overflow-x: scroll;



}
.slick-class{
  $('.autoplay').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
  });
}
.product-price__price-value {
    display: inline-block;

    font-size: 3rem;

    vertical-align: top;
        font-family: 'icarubrik' !important;

    ICARubrikWebBold.woff
    font-weight: 900;
    margin-top: -3px;
    position: relative;

}
.content a{
  opacity:0;
}
.slick-class{

  width: 100%;
}
.slick-class .focus-item {
        width: 150px !important;
float: left;
    max-width: 180px;
}

.focus-item .item-splash {

    margin: 0 auto;
}
.nara .store-offers-content .hit-item.focus-item .splash-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 40%;
    margin-left: -74px;
    width: 149px;
    height: 121px;
    background: url('https://www.ica.se/templates/BHSOffers/views/images/nara.svg');

}
[class*='icon-']:before {
    display: inline-block;
    font-family: 'Ica icons';
    font-style: normal;
    font-weight: normal;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.list-offers .product-price__price-value, .list-offers .product-price__decimal {
    display: inline-block;
    font-family: 'icarubrik';
    font-size: 4.5rem !important;
    vertical-align: top;
}
.nara .hit-item.focus-item .item-name>div, .nara .hit-item.focus-item .benefit-more-info {
    color: #fff;
    background: url('https://www.ica.se/templates/BHSOffers/views/images/nara.svg');
}
.hit-item .item-info {

    line-height: 28px;
    color: #6c6b69;
    margin: 0;
    white-space: nowrap;
    max-width: 250px;
    text-overflow: ellipsis;
}

.hit-item.focus-item .item-name>div {
width: 100%;
color: #fff;
text-align: center;

}
.item-name{
    padding-top: 130px;

}
.item-splash{
  background: url('https://www.ica.se/templates/BHSOffers/views/images/nara.svg');
  background-repeat: no-repeat;
}
.list-offers .product-price__price-values {

    font-family: 'icarubrik';
    font-weight: 900;
    margin-top: -3px;
    position: relative;
    display: inline-block;
    font-family: 'icarubrik';
    font-size: 2.7rem;
    vertical-align: top;

}
.product-price__amount{
      font-size: 2rem !important;
}

.product-price__decimal {
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: top;
  font-family: 'icarubrik' !important;
  margin-top: -3px;
  position: relative;

}


.hit-item.focus-item .item-name {
    padding-left: 5px;
    width: 147px;
    margin-top: 0;
}
.hit-item.focus-item .item-name {

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.slick-class .hit-item.focus-item .item-name-product {
    font-size: 14px;
    font-family: 'icatext';
    font-weight: bold;
        text-align: center;
    letter-spacing: -0.4px;

    color:#A02971;
    width: 100%;
}
.hit-item.focus-item .item-info {
    white-space: nowrap;
    max-width: 310px;

    color:#A02971;

    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.store-offers-content .item-categories {
    height: 20px;
}
.hit-item.focus-item .item-name, .hit-item.focus-item .item-price, .hit-item.focus-item .item-info, .offers-hits-list .hit-item.focus-item .item-additional, .offers-hits-list .hit-item.focus-item .item-categories {

}
.hit-item.focus-item .item-info {
    white-space: nowrap;
    max-width: 310px;

    text-overflow: ellipsis;
    margin-bottom: 5px;
}
.hit-item .item-info {
    font-size: 12px;
    line-height: 18px;
    color: #6c6b69;
    margin: 0;
}
.productImage{
  padding-left: 10px;
}
.hit-item {
    position: relative;
    background-color: #fff;
    border-bottom: 2px solid #f3f3ef;
}

.focus-item {
    width: 234px;
    padding: 23px 23px 60px;
}
.item-name-product{
font-size: 20px !important;
}
.item-text{
  max-height: 140px;
}
