/*table,th,td {
  border : 1px solid black;
  border-collapse: collapse;
  float: left;
}*/
body{
  font-family: "Open Sans";
  background-color: #f8f8f8;
  #background-color: #00ADE9;
  position: relative;
  color:#A02971;
}
.top-bar{
  list-style-type: none;
  /*margin-left: 10px;
  margin-right: 10px;*/
  padding: 0;

  color:#FFF;
  font-family: "Open Sans";

}
.top-bar-text{
    background-color:#EB1F07;
}

.top-bar H1{
    padding:10px;
    margin-bottom: 10px;
    font-size: 56px;
    font-family: "Open Sans";
}
.time{
  color:#fff!important;
  padding:5px!important;
  position: absolute;
  right: 5px!important;
  top:-10px!important;
  font-size : 5vw;overflow: hidden;
  margin-left: auto;
  background-color:rgba(255, 255, 255, 0)!important;

  color:#000;
  padding:5px;
  position: absolute;
  right: 5px;
  top:7px;
  font-size : 5vw;overflow: hidden;
  margin-left: auto;
  background-color:rgba(255, 255, 255, 0.9);

}
